spring:
  application:
    name: user-service
  datasource:
    url: "jdbc:mysql://localhost:3306/alistle?createDatabaseIfNotExist=true"
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database: mysql
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: false
        dialect: org.hibernate.dialect.MySQLDialect
  jwt:
    secret: 6SObD0L2fqV5SAakjU4Nst4JCfQ3N8Z8Wkugni1zPvN
    expiration: 3600000
    refreshable-duration: 7200000

server:
    port: 8000